<div>
  <div>
    Manufacturer:
    <select [(ngModel)]="this.manuFacturer" (change)="getManuFacturer($event)">
      <option *ngFor="let o of manufacturer$ | async">
        {{ o }}
      </option>
    </select>
  </div>
  <div>
    Model:
    <select [(ngModel)]="this.model" (change)="getModel($event)">
      <option *ngFor="let o of model$ | async">
        {{ o }}
      </option>
    </select>
  </div>
  <div class="m-b">
    Description:
    <select [(ngModel)]="this.description" (change)="getEmissions($event)">
      <option *ngFor="let o of description$ | async">
        {{ o.Key }}
      </option>
    </select>
  </div>
  <div>
    <li>{{ emissions?.Manufacturer }}</li>
    <li>{{ emissions?.Model }}</li>
    <li>{{ emissions?.Description }}</li>
    <li>{{ emissions?.EmissionsCo }}</li>
  </div>
  <!-- <div>
    <button (click)="result()">Submit</button>
  </div> -->
</div>
